  body{
    background: url(dongman.jpeg);
     background-color: #eee;
      /*background: rgba(255,255,255,.3);*/
  }
    .dd1{
padding-left: 31%;
padding-top: 31%;  
margin: 1%;
border-radius: 10%;
background: url(cy2.jpg);
background-size:100% 100%;
float: left;
    }
  .dd2{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(cy4.jpg);
background-size:100% 100%;
float: left;
  }
  .dd3{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(cy1.jpg);
background-size:100% 100%;
float: left;
  }
  .dd4{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(cy3.jpg);
background-size:100% 100%;
float: left;
  }
  .dd5{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(cy6.jpg);
background-size:100% 100%;
float: left;
  }
  .dd6{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(cy7.jpg);
background-size:100% 100%;
float: left;
  }
  .dd7{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(cy8.jpg);
background-size:100% 100%;
float: left;
  }
  .dd8{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(dongman.jpg);
background-size:100% 100%;
float: left;
  }
  .dd9{
padding-left: 31%;
padding-top: 31%; 
margin: 1%;
border-radius: 10%;
background: url(cy9.jpg);
background-size:100% 100%;
float: left;
  }
     body{
            background:url(dongman.jpg);
            background-size: 100% 100%;